body{
    color: #000;
    background-image: url("Img/Pizzaria.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
h1,h2{
    text-align: center;
    color: #ff0000;
    font-size: 300%;
}
h2{
    color: #0000ff;
}
.img-pizza{
    width: 160px;
}