body{
    color: #000;
    background-image: url("Img/1.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    animation: slide 30s infinite;
}
@keyframes slide{
    25%{
        background-image: url("img/2.jpeg");
    }
    50%{
        background-image: url("img/3.jpg");
    }
    75%{
        background-image: url("img/4.jpg");
    }
    100%{
        background-image: url("img/1.jpg");
    }

}
h1,h2{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 300%;
}
h2{
    color: #0000ff;
}
a:hover {
    color: #fff;
}
a:active {
    color: #ffff00;
}
a:link {
    background-color: #000; 
}
a:visited {
    color: #ff0000;
}
.img-pizza{
    width: 160px;
}
/* descendant selector */
article div {
    color: red;
}
 /* child selector */
article > div {
    color: yellow;
}
/* adjacent sibling selector */
section + div {
    text-align: center;
    font: bold 30px helvetica;
    text-shadow: 5px 5px 10px orange,
                 10px 10px 20px blue;
                   
}


